@media (max-width:991px) {
    .bars {
        -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important;
        display: flex !important;
        justify-content: space-between;
        width: 100%
    }

    .burger {
        width: 100%
    }

    .burger::after {
        content: "Menu"
    }

    .burger>i {
        background: #212121 !important
    }

    .owl-prev {
        display: none !important
    }

    .owl-next {
        display: none !important
    }
}

@media (max-width:1300px) {
    .owl-prev {
        left: -20px !important
    }

    .owl-next {
        right: -20px !important
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1110px;
        padding: 0;
    }
}