@media (max-width:991px) {
    .bars {
        -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important;
        display: flex !important;
        justify-content: space-between;
        width: 100%
    }

    .burger {
        width: 100%
    }

    .burger::after {
        content: "Menu"
    }

    .burger>i {
        background: #212121 !important
    }

    .owl-prev {
        display: none !important
    }

    .owl-next {
        display: none !important
    }

    #intro {
        margin-top: 100px !important
    }

    #intro .intro-item {
        margin-top: 50px
    }

    .welcome {
        justify-content: center;
        margin-bottom: 15px
    }

    .top-social {
        justify-content: center !important
    }

    header .showcase-slider .showcase-content h1 {
        font-size: 2rem !important
    }

    header .showcase-slider .showcase-content p {
        font-size: .8rem !important
    }
}

@media (max-width:1300px) {
    .owl-prev {
        left: -20px !important
    }

    .owl-next {
        right: -20px !important
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1110px;
        padding: 0
    }
}

@media (max-width:768px) {
    .border-item::after {
        display: none
    }

    .border-item::before {
        display: none
    }

    .border-item {
        border: none !important
    }

    .first-border::before {
        display: none
    }

    .last-border::before {
        display: none
    }

}

@media (max-width:576px) {
   
}

@media (max-width:480px) {
    header .showcase-slider .showcase-content p {
        display: none !important
    }
}